body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

#productos {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#carrito {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    margin-bottom: 10px;
}

#total {
    font-weight: bold;
}
.imagen{
width: 100px;
height: 130px;

}